# Day 4 --  Assignment

### Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

### Questions 2:
How to create a series from a numpy array?

In [2]:
import numpy as np
arr_numpy = np.array([127,452,73,41,625,762,71,228,779])
series_panda = pd.Series(arr_numpy)

series_panda

0    127
1    452
2     73
3     41
4    625
5    762
6     71
7    228
8    779
dtype: int32

### Questions 3:
How to convert the index of a series into a column of a dataframe?

In [3]:
# using dataframe
df_num = pd.DataFrame(series_panda, columns = ['Number'])

# df_num['Index_col'] = df_num.index ## appends to last column for index

df_num.reset_index(level=0, inplace=True)
df_num

   index  Number
0      0     127
1      1     452
2      2      73
3      3      41
4      4     625
5      5     762
6      6      71
7      7     228
8      8     779

### Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset <br>
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [4]:
import seaborn as sns

In [6]:
# getting all the dataset available in seaborn library

dataset_available = sns.get_dataset_names()
dataset_available

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [7]:
mpg = sns.load_dataset("mpg")

In [8]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [9]:
mpg.shape

(398, 9)

In [10]:
mpg.sample(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510

### Questions 5:
Which country origin cars are a part of this dataset?

In [11]:
mpg['origin'].describe()

count     398
unique      3
top       usa
freq      249
Name: origin, dtype: object

In [12]:
print(mpg['origin'].unique())

['usa' 'japan' 'europe']

In [13]:
mpg['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

### Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [14]:
origin_USA = mpg[mpg['origin'] == 'usa']

In [15]:
origin_USA

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10